$colorMagenta: #d932d2;
$colorBlue: #04c0ff;
$colorLogo: white;

$colorBackground: #292929;
$colorTranslucer: #ffffff0a;
$colorTranslucerDark: #00000018;

$colorText: white;

$colorDark1: #181818;
$colorDark2: #242424;
$colorDark3: #303030;
$colorDark4: #373737;
$colorDark5: #3f3f3f;
$colorDark6: #474747;

$colorLight1: #c6c6c6;
$colorLight2: #afafaf;
$colorLight3: #989898;
$colorLight4: #818181;
$colorLight5: #6a6a6a;
$colorLight6: #545454;

$colorShadow: #00000075;