h2{
    font-size: 2em;
    color: $colorBlue;
}
p{
    color: $colorText;
}

article{
    section{
        margin: 40px 4vw;
        padding: 30px 5vw;
        background-color: $colorTranslucerDark;
    }
}