$colorMagenta: #d932d2;
$colorBlue: #04c0ff;
$colorTexts: white;
$colorTransp: #ffffff0c;
$colorBg: #292929;

body, #mapNav, nav{
    background-color: $colorBg;
}

.pathSlogan, .edwins{
    fill: $colorTexts;
}

a, span, p{
    color: $colorTexts;
}


.liNav:hover{
    background-color: transparent;
}

#imageBgGlobal{
    opacity: 0.2;
}

nav{
    box-shadow: 5px 0 5px $colorBg;
}

.cursorPointer{
    background: linear-gradient($colorBlue, $colorMagenta);
}

.newCursor{
    background: linear-gradient($colorBlue, $colorMagenta);
}

.changeTheme{
    color: #ffffff6c;
}

.changeTheme:hover{
    color:$colorMagenta;
    transition: all 300ms ease;
}

.liMapNav{
    border-bottom: 1px solid $colorTransp;
    .aMapNav, i{
        color: $colorTexts;
    }
    ul{
        a{
            color: $colorTexts;
        }

        li{
            border-bottom: 1px solid $colorTransp;
        }

        li:hover{
            a{
                color: $colorBlue;
            }
        }
    }
}

.liMapNav:hover{
    background-color: $colorTransp;
    .aMapNav, i{
        color: $colorMagenta;
    }


}