@-webkit-keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@-webkit-keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@-webkit-keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@-webkit-keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background-color: #292929;
}

body button {
  border: 2px solid #04c0ff;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: #04c0ff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

body button:hover {
  border-color: #d932d2;
  color: #d932d2;
}

body header {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  height: 100vh;
}

body header:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(https://raw.githubusercontent.com/edwcarte16/PortafolioEdwins/main/images/background2.png);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

body header nav {
  background-color: #2929298f;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 4vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .boxLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

body header nav .boxLogo svg {
  width: 80px;
}

body header nav .boxLogo svg #pathBlue {
  fill: #04c0ff;
  -webkit-animation: animateBlue 2.5s;
          animation: animateBlue 2.5s;
  stroke-width: 2px;
  stroke: #04c0ff;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

body header nav .boxLogo svg #pathMagenta {
  fill: #d932d2;
  -webkit-animation: animateMagenta 2.5s;
          animation: animateMagenta 2.5s;
  stroke-width: 2px;
  stroke: #d932d2;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

body header nav .boxLogo svg #edwins, body header nav .boxLogo svg #pathSlogan {
  fill: white;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body header nav ul li {
  list-style: none;
  margin-left: 6%;
}

body header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

body header nav ul li:hover a {
  color: #d932d2;
}

body header #inkscapeContainer {
  grid-row: inherit;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body header #inkscapeContainer #inkscapeImage, body header #inkscapeContainer #inkscapeLogo {
  -webkit-box-shadow: 10px 10px 25px #00000052;
          box-shadow: 10px 10px 25px #00000052;
  margin-left: 4vw;
  opacity: 1;
  margin-left: 4vw;
  position: absolute;
  border-radius: 7px;
  max-height: 55vh;
  height: 34vw;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  -webkit-animation: inkscapeAnimation 2s;
          animation: inkscapeAnimation 2s;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #inkscapeContainer #inkscapeLogo {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 5;
  -webkit-animation: back 2s;
          animation: back 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #inkscapeContainer .logos {
  margin-left: 4vw;
  position: absolute;
  border-radius: 7px;
  max-height: 55vh;
  height: 34vw;
  padding: 0;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  opacity: 0;
  -webkit-transition: opacity 2.3s;
  transition: opacity 2.3s;
  -webkit-animation: inkscapeAnimation 2s;
          animation: inkscapeAnimation 2s;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #nameContainer {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  height: 100%;
  position: relative;
  gap: 3px;
}

body header #nameContainer img {
  width: 190px;
}

body header #nameContainer span {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: calc(1.6em + 1vw);
  color: #04c0ff;
}

body header #nameContainer #myMedia {
  color: white;
  margin-bottom: 20px;
  font-size: calc(0.6em + 1vw);
}

@media (max-width: 720px) {
  body header {
    display: -ms-grid;
    display: grid;
    overflow: initial;
    -ms-grid-rows: 20% 35% 45%;
        grid-template-rows: 20% 35% 45%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
  }
  body header nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: auto;
  }
  body header nav .boxLogo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  body header nav .boxLogo svg {
    width: 80px;
  }
  body header nav ul li {
    display: none;
  }
  body header #inkscapeContainer {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  body header #inkscapeContainer #inkscapeImage, body header #inkscapeContainer #inkscapeLogo {
    height: auto;
    width: 80%;
    opacity: 1;
  }
  body header #inkscapeContainer .logos {
    height: auto;
    width: 80%;
    opacity: 0;
  }
  body header #nameContainer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  body header #nameContainer img {
    width: 20vh;
  }
  body header #nameContainer span {
    font-size: 2em;
  }
  body header #nameContainer #myMedia {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=styles.css.map */