@-webkit-keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@-webkit-keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@-webkit-keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@-webkit-keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@-webkit-keyframes arrows {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h2 {
  font-size: 2em;
  color: #04c0ff;
}

p {
  text-align: justify;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 4vw;
  gap: 25px;
}

article section {
  padding: 25px 4vw;
  display: -ms-grid;
  display: grid;
  gap: 100px;
}

article section .subSection {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (max-width: 720px) {
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

#controlBar *, .controlBar *, #controlsSpacer {
  cursor: none !important;
}

div, bdi, span, button, input {
  cursor: none !important;
}

#videoAbout {
  padding: 0;
}

#videoAbout video {
  width: 100%;
  border-radius: 15px;
}

.technologies {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.iconsWeb {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.iconsWeb .fab {
  font-size: 3em;
}

.iconsWeb .fab:hover {
  cursor: pointer;
}

.iconsWeb .fa-css3-alt {
  color: #31A4D5;
}

.iconsWeb .fa-sass {
  color: #C76494;
}

.iconsWeb .fa-html5 {
  color: #E96228;
}

.iconsWeb .fa-js-square {
  color: #EFD81D;
}

.iconsWeb .fa-github {
  color: #000000;
}

.iconsWeb .fa-git-alt {
  color: #E84E31;
}

.iconsMedia {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.iconsMedia .iconEd {
  font-size: 3em;
}

.iconsMedia .iconEd:hover {
  cursor: pointer;
}

.iconsMedia .iconEd-inkscape {
  color: #000000;
}

.iconsMedia .iconEd-ilustrator {
  color: #FF9A00;
}

.iconsMedia .iconEd-photoshop {
  color: #31A8FF;
}

.iconsMedia .iconEd-afterEffects {
  color: #856CFF;
}

.iconsMedia .iconEd-premiere {
  color: #B145C9;
}

.cursorRadial {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-mask: url(/images/mask.svg);
          mask: url(/images/mask.svg);
  z-index: 50000;
  pointer-events: none;
}

.newCursor {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-mask: url(/images/mask.svg);
          mask: url(/images/mask.svg);
  z-index: 50000;
  pointer-events: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  cursor: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  overflow-x: hidden;
}

body #imageBgGlobal {
  min-height: 100vh;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}

body #scrollBar {
  height: 80vh;
  width: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(20%, #04c0ff), color-stop(80%, #d932d2), to(transparent));
  background: linear-gradient(0deg, transparent 0%, #04c0ff 20%, #d932d2 80%, transparent 100%);
  position: fixed;
  left: 4vw;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  opacity: 0;
  /*transition: opacity 300ms ease;*/
}

body #scrollBar #buttonScrollBar {
  height: 10px;
  width: 10px;
  background-color: #04c0ff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body button {
  border: 2px solid #04c0ff;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: #04c0ff;
  font-weight: 600;
  text-transform: uppercase;
}

body button:hover {
  border-color: #d932d2;
  color: #d932d2;
}

body .boxLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

body .boxLogo .logoSvg {
  width: 80px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

body .boxLogo .logoSvg .pathBlue {
  fill: #04c0ff;
  -webkit-animation: animateBlue 2.5s;
          animation: animateBlue 2.5s;
  stroke-width: 1.3px;
  stroke: #04c0ff;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

body .boxLogo .logoSvg .pathMagenta {
  fill: #d932d2;
  -webkit-animation: animateMagenta 2.5s;
          animation: animateMagenta 2.5s;
  stroke-width: 1.3px;
  stroke: #d932d2;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

body header {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: 100vh;
}

body header nav {
  position: fixed;
  height: 15vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 4vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index: 500;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120%;
  padding-right: calc(30px + 4vw);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body header nav ul li {
  list-style: none;
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
}

body header nav ul li i {
  font-size: 0em;
  text-align: center;
  margin-bottom: 3px;
}

body header nav ul li a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body header nav ul li:hover a {
  color: #d932d2;
}

body header nav ul li:hover i {
  font-size: 1.5em;
  text-align: center;
  color: #d932d2;
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
}

body header nav .sun {
  height: 30px;
  min-width: 30px;
  margin-right: 70px;
  z-index: 3000;
}

body header nav .boxIconBurger {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header nav .boxIconBurger #iconBurger {
  position: relative;
  height: 30px;
  width: 30px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
}

body header nav .boxIconBurger #iconBurger #rectangle1, body header nav .boxIconBurger #iconBurger #rectangle2, body header nav .boxIconBurger #iconBurger #rectangle3 {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #04c0ff;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

body header nav .boxIconBurger:hover #iconBurger #rectangle1, body header nav .boxIconBurger:hover #iconBurger #rectangle2, body header nav .boxIconBurger:hover #iconBurger #rectangle3 {
  background-color: #d932d2;
}

body header #inkscapeContainer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body header #inkscapeContainer #circleLeft {
  position: relative;
  height: 60px;
  width: 60px;
  border: 2px solid #04c0ff;
  border-radius: 100%;
  position: absolute;
  left: 5%;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: arrows 2s 2s;
          animation: arrows 2s 2s;
}

body header #inkscapeContainer #circleLeft .triangleLeft {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-right: 25px solid #04c0ff;
  border-bottom: 15px solid transparent;
}

body header #inkscapeContainer #circleRight {
  position: relative;
  border: 2px solid #04c0ff;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: absolute;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: arrows 2s 2s;
          animation: arrows 2s 2s;
}

body header #inkscapeContainer #circleRight .triangleRight {
  position: absolute;
  top: 11px;
  left: 16px;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #04c0ff;
  border-bottom: 10px solid transparent;
}

body header #inkscapeContainer #designsBox {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body header #inkscapeContainer #designsBox #inkscapeImage, body header #inkscapeContainer #designsBox #inkscapeLogo {
  -webkit-box-shadow: 10px 10px 25px #00000052;
          box-shadow: 10px 10px 25px #00000052;
  margin-left: 4vw;
  opacity: 1;
  margin-left: 4vw;
  position: absolute;
  border-radius: 7px;
  max-height: 55vh;
  height: 34vw;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  -webkit-animation: inkscapeAnimation 2s;
          animation: inkscapeAnimation 2s;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #inkscapeContainer #designsBox #inkscapeLogo {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 5;
  -webkit-animation: back 2s;
          animation: back 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #inkscapeContainer #designsBox #design {
  margin-left: 4vw;
  position: absolute;
  border-radius: 7px;
  max-height: 55vh;
  height: 34vw;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1.7s ease;
  transition: opacity 1.7s ease;
  -webkit-transform: rotateY(30deg) rotateX(20deg);
          transform: rotateY(30deg) rotateX(20deg);
  -webkit-animation: inkscapeAnimation 2s;
          animation: inkscapeAnimation 2s;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

body header #nameContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding-right: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  height: 100%;
  position: relative;
  gap: 3px;
}

body header #nameContainer img {
  width: 190px;
}

body header #nameContainer p {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1em;
  max-width: 450px;
}

body header #nameContainer button {
  margin-top: 35px;
}

body header #nameContainer h1 {
  color: #04c0ff;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2em;
}

@media (max-width: 720px) {
  body .newCursor, body #cursorRadial {
    display: none;
  }
  body * {
    cursor: auto;
  }
  body #mapNav {
    -webkit-clip-path: polygon(75% 0, 95% 20%, 95% 100%, 0 100%, 0 0);
            clip-path: polygon(75% 0, 95% 20%, 95% 100%, 0 100%, 0 0);
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  body header nav .boxLogo {
    padding-top: 9px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  body header nav .boxLogo .logoSvg {
    width: 60px;
  }
  body header nav .boxLogo .logoSvg .pathSlogan {
    visibility: hidden;
  }
  body header nav ul {
    display: none;
  }
  body header nav ul li {
    display: none;
  }
  body header nav .boxIconBurger {
    position: absolute;
    right: 4vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: left 3s;
    transition: left 3s;
  }
  body header #inkscapeContainer {
    width: 100%;
    height: 65vw;
    position: initial;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  body header #inkscapeContainer #designsBox {
    width: 100%;
  }
  body header #inkscapeContainer #designsBox #inkscapeImage, body header #inkscapeContainer #designsBox #inkscapeLogo {
    height: auto;
    width: 80%;
    opacity: 1;
  }
  body header #inkscapeContainer #designsBox #design {
    height: auto;
    width: 80%;
  }
  body header #nameContainer {
    margin-top: 70px;
    position: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0;
    display: -ms-grid;
    display: grid;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  body header #nameContainer img {
    width: 20vh;
  }
  body header #nameContainer p {
    max-width: 400px;
  }
}

#mapNav {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  max-width: 370px;
  -webkit-clip-path: polygon(0 0, 95% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 95% 0, 95% 100%, 0% 100%);
  left: -350px;
  top: 0;
  -webkit-transition: left 1s;
  transition: left 1s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mapNav .boxLogo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: 45px 3% 45px 0;
}

#mapNav ul li {
  list-style: none;
}

#mapNav ul li a, #mapNav ul li i {
  text-decoration: none;
  font-size: 1em;
}

#mapNav ul li i {
  font-size: 1.1em;
}

#mapNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

#mapNav .liMapNav {
  padding: 10px 25px;
  overflow-y: hidden;
  max-height: 40px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  overflow: hidden;
}

#mapNav .liMapNav .aMapNav {
  text-transform: uppercase;
}

#mapNav .liMapNav i {
  margin-right: 15px;
}

#mapNav .liMapNav ul li {
  list-style: none;
}

#mapNav .liMapNav ul li a, #mapNav .liMapNav ul li i {
  text-decoration: none;
  font-size: 1em;
}

#mapNav .liMapNav ul li i {
  font-size: 1.1em;
}

#mapNav .liMapNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

#mapNav .liMapNav li {
  padding: 10px 25px;
  overflow-y: hidden;
}

#mapNav .liMapNav li a {
  text-transform: uppercase;
}

#mapNav .liMapNav li i {
  margin-right: 15px;
}

#mapNav .liMapNav:hover {
  padding-top: 20px;
  max-height: 300px;
}

#mapNav .liMapNav:hover .aMapNav {
  text-transform: uppercase;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

footer .boxLogo svg {
  width: 50px;
  height: 50px;
  -webkit-animation: none;
          animation: none;
}

footer .boxLogo svg #pathSlogan {
  display: none;
}

footer section {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -ms-grid-columns: (minmax(15em, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15em, 2fr));
  gap: 20px;
}

footer section a, footer section span {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */