*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$color1: #d932d2;
$color2: #04c0ff;

header{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-image: url("https://edwcarte16.github.io/PortafolioEdwins/images/background1.png");
    background-size: cover;
    background-position: 50% 50%;
}
.boxLogoMedia{
    display: none;
}
.burgerMenuBox{
    display: none;
}

#boxAllIcons{
    display: none;
}

.searchBar{
    position: absolute;
    top: 30vh;
    display: flex;
    background-color: #ffffff1a;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    input{
        background-color: transparent;
        border-style: none;
        height: 33px;
        width: 30vw;
        min-width: 200px;
        max-width: 300px;

        padding: 0 10px;
        color: #ffffffb4;
        font-size: 1rem;
    }

    input::placeholder{
        text-align: center;
        color: #ffffff2a;
    }

    button{
        height: 33px;
        width: 33px;
        background-color: transparent;
        border-style: none;
        border-radius: 25px;
        
        svg{
            height: 100%;
            width: 100%;
            path{
                fill:#ffffff2a
            }
        }
    }
}

nav{
    display: flex;
    width: 100%;
}

#videoBox{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: fit-content;
    max-height: 65vh;
    max-width: fit-content;
    clip-path: circle(30px at 50% 50%);
    transition: clip-path 700ms;  
}

#titleName{
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2{
    color: $color2;
    font-weight: 300;
    text-align: center;
    opacity: 0.6;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

h2{color: white;}

#triangle{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 17px solid #ffffff1f;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    animation: animateTrianglePlay 350ms 2.3s;
    animation-fill-mode: backwards;
}
@keyframes animateTrianglePlay {
    0%{
        border-left: 1px solid transparent;
    }

    100%{
        border-left: 17px solid #ffffff1f;
    }
}
#circle{
    position: absolute;
    height: 50px;
    width: 50px;
    stroke-width: 2px;
    stroke-dasharray: 151;
    stroke-dashoffset: 151;
    fill: #0000002c;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animateCirclePlay 1s 1.5s;
    animation-fill-mode: backwards;
}

@keyframes animateCirclePlay {
    0%{
        stroke-dashoffset: 0;
        fill: transparent;
        
    }

    10%{
        stroke: $color2;
    }
    50%{
        stroke: $color1;
    }
    100%{
        stroke-dashoffset: 700;
        stroke: transparent;
    }
}

#videoDesigner1{
    opacity: 0;
    transition: opacity 1.3s;
    height: 100%;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
    border-radius: 20px;
}

#videoBox:hover{
    clip-path: circle(200% at 50% 50%);
    background-color: transparent;
}

#videoBox:hover .playButton{
    display: none;
}

#videoBox:hover #videoDesigner1{
    opacity: 1;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a{
    color: #ffffff93;
    text-decoration: none;
    font-size: 1.2em;
    animation: animateBlur 2s 1s;
    animation-fill-mode: backwards;
}
nav ul li:hover{
    color: white;
    text-decoration: none;
    animation: animateList 1s;
    animation-fill-mode: both;
}

nav ul li{
    list-style: none;
}

.aNav:hover{color:$color1;}

.boxLogo svg{
    width: 100px;
    height: 100px;
    animation: animateSvg 2.5s;
    animation-fill-mode: backwards;
}

@keyframes animateList {
    0%{transform: rotate(0deg);}
    15%{transform: rotate(8deg);}
    30%{transform: rotate(-7deg);}
    50%{transform: rotate(5deg);}
    70%{transform: rotate(-3deg);}
    85%{transform: rotate(3deg);}
    100%{transform: rotate(0deg);}
}

@keyframes animateSvg {
    0%{
        width: 200px;
        height: 200px;
    }

    100%{
        width: 100px;
        height: 100px;
    }
}

@keyframes animateBlur {
    0%{
        filter: blur(5px);
        opacity: 0;
    }

    100%{
        filter: blur(0px);
        opacity: 1;
    }
}

#edwins, #pathSlogan{
    fill: white;
    animation: animateSlogan 3s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes animateSlogan {
    0%{
        fill: #00000000;
    }

    100%{
        fill: white;
    }
}

#pathBlue{
    animation: animateBlue 2.5s;
    fill: $color2;
    stroke-width: 2px;
    stroke: $color2;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
}

#pathMagenta{
    animation: animateMagenta 2.5s;
    fill: $color1;
    stroke-width: 2px;
    stroke: $color1;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

@media (max-width: 720px){

    header .boxLogoMedia{
        position: absolute;
        top: 45px;
        display: block;
    }

    .burgerMenuBox{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3vh;
        right: 2vw;
        z-index: 4;

        svg{
            width: 26px;
            height: 22px;

            rect{
                fill:$color2;
                transition: ease-in 300ms;
            }
        }
        svg:hover{        
            rect{
                fill:$color1;
            }
        }
    }

    header{
        .boxLogoMedia{
            display: block;
            position: absolute;
            z-index: 7;
        }

        nav{
        position: absolute;
        background:linear-gradient(45deg, #272727, #3f1955, #272727);
        height: 100vh;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 3;
        clip-path: circle(0px at 100% 0%);
        transition: clip-path 650ms;

            ul{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                top: 300px;
                width: 60%;
                left: 40%;
                padding-left: 7px;

                li{
                    margin:30px 0 0 0;
                    a{
                        font-size: 1.5em;}
                }
            }

            .boxLogo{
                display: none;
            }
        }

        #boxAllIcons div:last-child svg{
            height: 35px;
            width: 37px;
        }

        #boxAllIcons{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        padding-right: 7px;
        top: 296px;
        width: 40%;
        right: 60%;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin:29px 0 0 0;
            }

                svg{
                    height: 30px;
                    width: 37px;
                    path{
                    fill: #ffffff93;
                    transition: ease 500ms;
                    }
                }
            }
        }
    }
@keyframes animateBlue{
    0%{
        fill: transparent;
        stroke-dashoffset: 0;
    }

    50%{
        fill: transparent;
        stroke: $color1;
    }

    100%{
        stroke: transparent;
        stroke-dashoffset: 700;
        fill: $color2;
    }
}

@keyframes animateMagenta{
    0%{
        stroke-dashoffset: 0;
        fill: transparent;
    }

    50%{
       
        fill: transparent;
        stroke: $color2;
    }

    100%{
        stroke-dashoffset: 700;
        fill: $color1;
        stroke: transparent;
    }
}
