*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:#353535;
}

$color1: #d932d2;
$color2: #04c0ff;

header{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:max-content;

    #backgroundHeader{
        width: 100vw;
        opacity: 0.3;
    }

    nav{
        position: absolute;
        display: flex;
        width: 100%;
        flex-direction: column;
        top: 55px;
        @media (min-width: 721px){
            #boxAllIcons{
                position: absolute;
                display: flex;
                width: 100%;
                .boxIconListNav{
                    position: absolute;
                    width: 40px;
                    height: 65px;
    
                    svg{
                        position: absolute;
                        width: 40px;
                        height: 65px;
                        transition: ease-in 300ms;
                        
                        path{
                            opacity: 0;
                            fill: #ffffff00;
                            transform:translateY(0);
                            transition: ease-out 300ms;
                        }
                    }
                }
            }
        }
    
        ul{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
    
            li {
                list-style: none;
                z-index: 5;
                a{
                    color: #ffffffb4;
                    text-decoration: none;
                    font-size: 1.4em;
                    animation: animateBlur 2s 1s;
                    animation-fill-mode: backwards;}
            }
    
            li:hover{
                color: white;
                text-decoration: none;
                animation: animateList 1s;
                animation-fill-mode: both;
            }
        }
    
        .imgsNavBackground{
            display: none;
        }
    }

    #perfilImageBox{
        position: absolute;
        bottom: 140px;
        height: 170px;
        width: 170px;
        overflow: hidden;
        background-color:#242424;
        border-radius: 100%;
        box-shadow: 0 0 18px #0000001e;

        img{
            position: absolute;
            top:60%;
            left: 50%;
            transform: translate(-50%, -55%);
            height: 80%;

        }
    }

    #titleName{
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 50px;
        flex-direction: column;
    
        h1, h2{
            color: $color2;
            font-weight: 400;
            text-align: center;
        }
        
        h2{
            color: #ffffffc4;
            font-weight: 300;
        }
    }
}
.boxLogoMedia{
    display: none;
}
.burgerMenuBox{
    display: none;
}

.aNav:hover{color:$color1;}

.boxLogo{
    cursor:pointer;
    svg{
    width: 100px;
    height: 100px;
    animation: animateSvg 2.5s;
    animation-fill-mode: backwards;}
}

@keyframes animateList {
    0%{transform: rotate(0deg);}
    15%{transform: rotate(8deg);}
    30%{transform: rotate(-7deg);}
    50%{transform: rotate(5deg);}
    70%{transform: rotate(-3deg);}
    85%{transform: rotate(3deg);}
    100%{transform: rotate(0deg);}
}

@keyframes animateSvg {
    0%{
        width: 200px;
        height: 200px;
    }

    100%{
        width: 100px;
        height: 100px;
    }
}

@keyframes animateBlur {
    0%{
        filter: blur(5px);
        opacity: 0;
    }

    100%{
        filter: blur(0px);
        opacity: 1;
    }
}

#edwins, #pathSlogan{
    fill: white;
    animation: animateSlogan 3s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes animateSlogan {
    0%{
        fill: #00000000;
    }

    100%{
        fill: white;
    }
}

#pathBlue{
    animation: animateBlue 2.5s;
    fill: $color2;
    stroke-width: 2px;
    stroke: $color2;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
}

#pathMagenta{
    animation: animateMagenta 2.5s;
    fill: $color1;
    stroke-width: 2px;
    stroke: $color1;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

@media (min-width: 1000px){
    header{

        #perfilImageBox{
            top: 50vh;
        }

        #titleName{
            top: 75vh;
            bottom: initial;
        }
    }
}

@media (max-width: 720px){
    header{
        height: 100vh;
        position: relative;
        #backgroundHeader{
            position: absolute;
            top: 0;
        }

        #perfilImageBox{
            top: 47vh;
        }

        #titleName{
            height: initial;
            position: absolute;
            top: initial;
            bottom: 17vh;

        }

        .burgerMenuBox{
            cursor:pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 3vh;
            right: 3vw;
            z-index: 4;
    
            svg{
                width: 26px;
                height: 22px;
    
                rect{
                    fill:$color2;
                    transition: ease-in 300ms;
                }
            }
            svg:hover{        
                rect{
                    fill:$color1;
                }
            }
        }
        .boxLogoMedia{
            display: block;
            position: absolute;
            z-index: 7;
            top: 45px;
        }

        nav{
            position: absolute;
            background:linear-gradient(45deg, #272727, #3f1955, #272727);
            height: 100vh;
            top: 0;
            display: flex;
            justify-content: center;
            z-index: 3;
            clip-path: circle(0px at 100% 0%);
            transition: clip-path 650ms;

            ul{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                top: 270px;
                width: 65%;
                left: 35%;
                padding-left: 7px;

                li{
                    margin:30px 0 0 0;
                    a{
                        font-size: 1.5em;}
                }
            }

            .boxLogo{
                display: none;
            }

                .burgerMenuBox{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 3vh;
                    right: 2vw;
                    z-index: 4;

                svg{
                    width: 26px;
                    height: 22px;

                    rect{
                        fill:$color2;
                        transition: ease-in 300ms;
                    }
                }
                svg:hover{        
                    rect{
                        fill:$color1;
                    }
                }
            }

            .imgsNavBackground{
                position: absolute;
                display: block;
                width: 100vw;
                bottom: 0;
                opacity: 0;
                z-index: -1;
                transition: opacity 500ms;
            }
        }

        #boxAllIcons div:last-child svg{
            height: 35px;
            width: 37px;
        }

        #boxAllIcons{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        padding-right: 7px;
        top: 266px;
        width: 35%;
        right: 65%;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin:29px 0 0 0;
            }

                svg{
                    height: 30px;
                    width: 37px;
                    path{
                    fill: #ffffff93;
                    transition: ease 500ms;
                    }
                }
            }
        }
    }
@keyframes animateBlue{
    0%{
        fill: transparent;
        stroke-dashoffset: 0;
    }

    50%{
        fill: transparent;
        stroke: $color1;
    }

    100%{
        stroke: transparent;
        stroke-dashoffset: 700;
        fill: $color2;
    }
}

@keyframes animateMagenta{
    0%{
        stroke-dashoffset: 0;
        fill: transparent;
    }

    50%{
       
        fill: transparent;
        stroke: $color2;
    }

    100%{
        stroke-dashoffset: 700;
        fill: $color1;
        stroke: transparent;
    }
}

main{
    margin-top: 15px;
    article{
        padding: 0 2vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        gap: 25px;
        section{
            padding: 20px;
            background-color: rgb(32, 32, 32);
            border-radius: 12px;
            box-shadow: 5px 5px 18px #00000028;
        }
    
        h2{
            color: $color2;
            font-weight: 300;
            text-align: center;
        }
        p{
            margin-top: 20px;
            text-align: justify;
            color: rgb(93, 93, 93);
        }
    }
}
