article{
    display: grid;
    justify-content:center;
    align-items:flex-start;
    margin: 50px 4vw;
    gap: 30px;
    section{
        padding: 25px 4vw;
        display: grid;
        gap: 100px;

        .subSection{
            display: grid;
            gap: 20px;
            img{
                width: 100%;
            }
        }
    }
}

@media (min-width: 901px){
    article{
        display: grid;
        grid-template-columns: minmax(300px, 620px) minmax(300px, 620px);

        .subSection{
            display: grid;
            gap: 20px;
        }
    }
}

@media (max-width: 900px){

    p{
        text-align: justify;
        font-size: 0.8em;
    }

    article{
        display: grid;
        grid-template-columns: auto;
    }
}

#photos{
    padding: 0;
    gap: 0;
    .boxPhotos:first-child{
        display: grid;
        grid-template-columns: 71.103% 28.897%;
        img{
            width: 100%;
        }
    }

    .boxPhotos:nth-child(2){
        display: grid;
        grid-template-columns: 36.580% 63.473%;
        img{
            width: 100%;
        }
    }
}

.technologies{
    display: grid;
    gap: 20px;
}

.iconsWeb{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    gap: 20px;

    .fab{font-size: 3em;}

    .fa-css3-alt{
        color: #31A4D5;
    }
    .fa-sass{
        color: #C76494;
    }
    .fa-html5{
        color: #E96228;
    }
    .fa-js-square{
        color: #EFD81D;
    }
    .fa-github{
        color: #000000;
    }
    .fa-git-alt{
        color: #E84E31;
    }
}

.iconsMedia{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    gap: 20px;

    .iconEd{font-size: 3em;}

    .iconEd-inkscape{
        color: #000000;
    }

    .iconEd-ilustrator{
        color: #FF9A00;
    }

    .iconEd-photoshop{
        color: #31A8FF;
    }

    .iconEd-afterEffects{
        color: #856CFF;
    }

    .iconEd-premiere{
        color: #B145C9;
    }
}