$colorMagenta: #d932d2;
$colorBlue: #04c0ff;
$colorTexts: #292929;
$colorTransp: #24242410;
$colorBg: #fff;

body, #mapNav, nav{
    background-color: $colorBg;
}

.pathSlogan, .edwins{
    fill: $colorTexts;
}

a, span, p{
    color: $colorTexts;
}

#imageBgGlobal{
    opacity: 0.25;
}

nav{
    box-shadow: 5px 0 7px #2929298a;
}

.cursorPointer{
    background: $colorBlue;
    border: 2px solid $colorTexts;
}

.newCursor{
    background: $colorMagenta;
    border: 2px solid $colorTexts;
}

.changeTheme{
    color: $colorBlue;
}

.changeTheme:hover{
    color:$colorMagenta;
    transition: all 300ms ease;
}

.liMapNav{
    border-bottom: 1px solid $colorTransp;
    .aMapNav, i{
        color: $colorTexts;
    }
    ul{
        a{
            color: $colorTexts;
        }

        li{
            border-bottom: 1px solid $colorTransp;
        }

        li:hover{
            a{
                color: $colorBlue;
            }
        }
    }
}

.liMapNav:hover{
    background-color: $colorTransp;
    .aMapNav, i{
        color: $colorMagenta;
    }
}

.iconsMedia{
    div:hover{

        span:hover{
            color: $colorTexts;
            text-shadow: 0 0 10px $colorBg, 0 0 10px $colorBg;
            transition: all 500ms ease;
        }

        #inkscapeIcon{
            color:$colorBlue;
        }
    }
}

.iconsWeb{
    div:hover{
        i:hover{
            color: $colorTexts;
            text-shadow: 0 0 3px #00000041;
            transition: all 500ms ease;
        }

        #githubIcon{
            color:$colorBlue;
        }
    }
}

footer{
    background-color: $colorBg;
}

#SwitchCursor{
    border: 1px solid $colorBlue;

    span, i{color: $colorBlue;}
}

#SwitchCursor:hover{
    border: 1px solid $colorMagenta;

    span, i{color: $colorMagenta;}
}

#toolTip{
    background-color: $colorTexts;
    color: $colorBg;
}

#phrase{
    background-color: $colorTransp;
}