@-webkit-keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@keyframes animateBlue {
  0% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  50% {
    fill: transparent;
    stroke: #04c0ff;
  }
  100% {
    stroke: transparent;
    stroke-dashoffset: 700;
    fill: #04c0ff;
  }
}

@-webkit-keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@keyframes animateMagenta {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke: #d932d2;
  }
  100% {
    stroke-dashoffset: 700;
    fill: #d932d2;
    stroke: transparent;
  }
}

@-webkit-keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes back {
  0% {
    z-index: 5;
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  74% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@-webkit-keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@keyframes inkscapeAnimation {
  0% {
    -webkit-transform: rotateY(-200deg) rotateX(-40deg);
            transform: rotateY(-200deg) rotateX(-40deg);
  }
  100% {
    -webkit-transform: rotateY(30deg) rotateX(20deg);
            transform: rotateY(30deg) rotateX(20deg);
  }
}

@-webkit-keyframes arrows {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 2em;
  color: #04c0ff;
}

p {
  text-align: justify;
  font-size: 1em;
}

.cursorPointer {
  position: absolute;
  height: 30px;
  width: 10px;
  border-radius: 20px;
  -webkit-transform: translate(0, 0) rotate(-20deg);
          transform: translate(0, 0) rotate(-20deg);
  z-index: 50000;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, transform, width;
  transition-property: background-color, transform, width, -webkit-transform;
}

#toolTip {
  position: absolute;
  padding: 4px 10px;
  text-shadow: 0 0 1px #00000034;
  font-size: 0.7em;
  border-radius: 10px;
  z-index: 50000;
  -webkit-box-shadow: 3px 3px 10px #00000034;
          box-shadow: 3px 3px 10px #00000034;
  white-space: nowrap;
  display: none;
}

.newCursor {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
          transform: translate(-50%, 0) rotate(0deg);
  -webkit-clip-path: url(/images/cursor.svg);
          clip-path: url(/images/cursor.svg);
  z-index: 50000;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, transform, width;
  transition-property: background-color, transform, width, -webkit-transform;
}

.noNewCursor {
  cursor: auto;
}

.noCursor {
  cursor: none;
}

@media screen and (min-width: 721px) and (max-width: 800px) {
  .liNav .aNav {
    font-size: 12pt;
  }
}

#mapNav {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 108vw;
  max-width: 400px;
  -webkit-clip-path: polygon(0 0, 95% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 95% 0, 95% 100%, 0% 100%);
  left: -400px;
  top: 0;
  -webkit-transition: left 1s;
  transition: left 1s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

#mapNav img {
  position: absolute;
  bottom: 0;
  width: 120%;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

#mapNav .boxLogo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: 45px 3% 45px 0;
}

#mapNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

#mapNav ul .liMapNav {
  list-style: none;
  padding: 20px 25px;
  overflow-y: hidden;
  max-height: 60px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  overflow: hidden;
}

#mapNav ul .liMapNav .aMapNav {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
}

#mapNav ul .liMapNav i {
  margin-right: 20px;
  font-size: 1.5em;
}

#mapNav ul .liMapNav li {
  list-style: none;
  padding: 10px 25px;
  overflow-y: hidden;
}

#mapNav ul .liMapNav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
}

#mapNav ul .liMapNav:hover {
  padding-top: 20px;
  max-height: 360px;
}

#mapNav #SwitchCursor {
  margin-right: 5%;
  margin-top: 40px;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 30px;
  font-size: 0.7em;
}

body {
  position: relative;
  overflow-x: hidden;
}

body #imageBgGlobal {
  min-height: 100vh;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}

body #scrollBar {
  height: 80vh;
  width: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(20%, #04c0ff), color-stop(80%, #d932d2), to(transparent));
  background: linear-gradient(0deg, transparent 0%, #04c0ff 20%, #d932d2 80%, transparent 100%);
  position: fixed;
  left: 4vw;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  opacity: 0;
  /*transition: opacity 300ms ease;*/
}

body #scrollBar #buttonScrollBar {
  height: 10px;
  width: 10px;
  background-color: #04c0ff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body button {
  border: 2px solid #04c0ff;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: #04c0ff;
  font-weight: 600;
  text-transform: uppercase;
}

body button:hover {
  border-color: #d932d2;
  color: #d932d2;
}

body .boxLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

body .boxLogo .logoSvg {
  width: 80px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

body .boxLogo .logoSvg .pathBlue {
  fill: #04c0ff;
  -webkit-animation: animateBlue 2.5s;
          animation: animateBlue 2.5s;
  stroke-width: 1.3px;
  stroke: #04c0ff;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

body .boxLogo .logoSvg .pathMagenta {
  fill: #d932d2;
  -webkit-animation: animateMagenta 2.5s;
          animation: animateMagenta 2.5s;
  stroke-width: 1.3px;
  stroke: #d932d2;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

body header nav {
  position: fixed;
  height: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 4vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index: 500;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120%;
  padding-right: calc(30px + 4vw);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body header nav ul li {
  list-style: none;
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
}

body header nav ul li i {
  font-size: 0em;
  text-align: center;
  margin-bottom: 3px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: transparent;
}

body header nav ul li a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

body header nav ul li:hover a {
  color: #d932d2;
}

body header nav ul li:hover i {
  font-size: 1.5em;
  text-align: center;
  color: #d932d2;
}

body header nav .changeTheme {
  font-size: 1.5em;
  margin-right: 70px;
  z-index: 3000;
  padding: 7px;
}

body header nav .boxIconBurger {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header nav .boxIconBurger #iconBurger {
  position: relative;
  height: 30px;
  width: 30px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
}

body header nav .boxIconBurger #iconBurger #rectangle1, body header nav .boxIconBurger #iconBurger #rectangle2, body header nav .boxIconBurger #iconBurger #rectangle3 {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #04c0ff;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

body header nav .boxIconBurger:hover #iconBurger #rectangle1, body header nav .boxIconBurger:hover #iconBurger #rectangle2, body header nav .boxIconBurger:hover #iconBurger #rectangle3 {
  background-color: #d932d2;
}

@media (max-width: 1000px) {
  body #mapNav {
    -webkit-clip-path: polygon(75% 0, 95% 20%, 95% 100%, 0 100%, 0 0);
            clip-path: polygon(75% 0, 95% 20%, 95% 100%, 0 100%, 0 0);
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  body header nav .boxLogo {
    padding-top: 9px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  body header nav .boxLogo .logoSvg {
    width: 60px;
  }
  body header nav .boxLogo .logoSvg .pathSlogan {
    visibility: hidden;
  }
  body header nav ul {
    display: none;
  }
  body header nav ul li {
    display: none;
  }
  body header nav .boxIconBurger {
    position: absolute;
    right: 4vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: left 3s;
    transition: left 3s;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

footer .boxLogo svg {
  width: 50px;
  height: 50px;
  -webkit-animation: none;
          animation: none;
}

footer .boxLogo svg #pathSlogan {
  display: none;
}

footer div {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -ms-grid-columns: (minmax(15em, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15em, 2fr));
  gap: 20px;
}

footer div a, footer div span {
  text-align: center;
  text-decoration: none;
  cursor: none;
}
/*# sourceMappingURL=objAllPag.css.map */